<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-copy-right">
                    <p>
                        Copyright © @DateTime.Now.Year
                        . Tüm hakları saklıdır. Geliştirici <a href="#">Helin Bora</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer area-->
<!-- jquery
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/jquery-price-slider.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/owl.carousel.min.js"></script>
<!-- scrollUp JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/jquery.scrollUp.min.js"></script>
<!-- meanmenu JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/meanmenu/jquery.meanmenu.js"></script>
<!-- counterup JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/counterup/jquery.counterup.min.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/counterup/waypoints.min.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/counterup/counterup-active.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- sparkline JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/sparkline/jquery.sparkline.min.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/sparkline/sparkline-active.js"></script>
<!-- flot JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/flot/jquery.flot.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/flot/jquery.flot.resize.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/flot/flot-active.js"></script>
<!-- knob JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/knob/jquery.knob.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/knob/jquery.appear.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/knob/knob-active.js"></script>
<!--  wave JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/wave/waves.min.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/wave/wave-active.js"></script>
<!-- icheck JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/icheck/icheck.min.js"></script>
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/icheck/icheck-active.js"></script>
<!--  Chat JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/chat/jquery.chat.js"></script>
<!--  todo JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/todo/jquery.todo.js"></script>
<!-- plugins JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/main.js"></script>
<!-- tawk chat JS
    ============================================ -->
<link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
<script src="js/tawk-chat.js"></script>

<script src="/notika-master/notika/green-horizotal/js/summernote/summernote-updated.min.js"></script>
<script src="/notika-master/notika/green-horizotal/js/summernote/summernote-active.js"></script>